/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/

  *{
  box-sizing: content-box;
  font-family: 'Raleway', sans-serif;
  padding: 0em;
  margin: 0em;
}

body {
background-color: #F5F5F5;
}

.element {
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: black;
}
h1{
  font-size: 3em;
}

h2 {
  margin-top: 6rem;
  font-size: 2em;
}

h3 {
  font-style: italic;
  margin-top: 1rem;
  font-size: 1.5em;
}

h4 {
  margin-bottom: 0.25rem;
  font-size: 1em;
}

p {
  margin-top: 0;
  font-size: 1em;
}

code {
  background-color: #EEE;
  padding: 0.5rem;
  display: block;
}


/* 
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */
.button-nav {
  display: inline-block;
  padding: 0.5rem;
  color: white;
  background-color: rgb(50,50,50);
  text-decoration: none;
  transition-property: background-color; 
  transition-duration: 0.5s;
}

.button-nav:hover, .button-nav:focus {
  background-color: rgb(200,200,200);
}


a:focus{
color:  #BDB76B;
}

section{
  padding: 2em;
}

p{
  display: inline-block; 
  min-width:45em; 
}
input :active{
background-color: #F5F5DC;
transition: 1s;
}


button {
  background-color: #FFFFF0;
}

.changebox {
  background-color: lightgrey;
  max-width: 160px;
  padding-bottom: 10px;
  padding-top: 6px;
}
#color1{
  padding: 3em;
  margin: 2em;
  background-color: #000000;
  width: 80%;
  border: solid #FFF 0.2em;
}
#color2{
  padding: 3em;
  margin: 2em;
  background-color: #F2F2F2;
  width: 80%;
  border: solid #FFF 0.2em;
}

#color3{
  padding: 3em;
  margin: 2em;
  background-color: #E3DCD2;
  width: 80%;
  border: solid #FFF 0.2em;
}

#color4{
  padding: 3em;
  margin: 2em;
  background-color: #E7DED7;
  width: 80%;
  border: solid #FFF 0.2em;
}
#color5{
  padding: 3em;
  margin: 2em;
  background-color: #817870;
  width: 80%;
  border: solid #FFF 0.2em;
}


#contact p{
  text-align: center;

}
#contact a{
  color: #978476;
  text-decoration: none;
}

.price{
  font-size: 0.9em;
  font-weight: lighter;
}
button a{
  color: #978476;
  text-decoration: none;
}

table{

  text-align: left;

}
th{
  color:#978476;
}
td{
  padding-bottom: 1.5em;
  padding-right: 4.5em;
}
 th td{
  padding: 4em;
}

ul,ol{
  font-size: 1em;
}

#item1pdl{
  display: flex;
}
#item1ifo{
 margin-left: 3em;

}
.price{
  font-weight: lighter;
}
.textInput {
  border: 1.5px solid #D7D2CC80;
  background-color: #FFFAF0;
  opacity: 0.8;
  margin-bottom: 2.5em;
}

.textInput:hover {
  background-color: #FFFAF0;
  opacity: 0.5;
  border: 0.2em solid #D7D2CC;
}

.textInput:active {
  background-color: #FFFAF0;
    opacity: 0.8;
  border: 0.2em solid #978476;
}

.btn {
  background-color: #978476;
  color: #FFFAF0;
  padding: 0.8em;
  margin: 0.8em 0;
  width: 50%;
  border-radius: 0.5em;
  font-size: 1em;
}

.btn:hover {
  background-color: #D7D2CC;
}
@media only screen and (max-width:1000px) {
  .product-item{
    display: flex;
    flex-direction: column;
  }
  #item1pdl{
  display: flex;
  flex-direction: column;
}
}
/* 

  TEXT ELEMENTS -------------------
*/

h1{
  font-size: 2.5em;
  text-align: center;
}
nav{
  display:flex;
  justify-content: space-between;
  padding: 1em 2em;
  margin-top:1em; 
}
#logo{
  color: #817870;
  font-size: 1.6em;
  color: black;
  border: none;
}
#logo a{
  color: #817870; 
}
nav a {
  font-size: 0.8em;
  color: black;
  text-decoration: none;
  font-weight: bold;
  margin: 0.8em;
  padding-right:0.4em; 
  border-right: solid #817870 0.1em;
}

nav a:hover{
  text-decoration:underline;
  color: #E3DCD2;
}

#logo:hover{
  color: black;
  text-decoration: none;
}
#cart,#about{
  border: none;
}
#cart{
  font-size: 1em;
}
header{
  background-image: url("../image/bgimg.jpg");
  background-size:cover;
  background-position: center center;
  height:60vw;
  margin-top:2em; 


  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 8em;
}

header p{
  color: #F5F5F5;
  margin: 1.6em;
  text-align: center;

}
header h1{
  color: #F5F5F5;
  font-weight: normal;

}
.header-btn a{
  background-color:white;

  padding:0.8em 6.2em;
  text-decoration:none;
  color: black;
  transition: all 1s;
}
.header-btn a:hover{
  color: black;
  background-color:#E3DCD2EE;
}
.header-btn{
  margin-top: 1em;
}

.sectionbox{
  margin: 5em 3em 4em 3em;
  padding-bottom: 2em;
  border-bottom: #E3DCD2EE solid 0.1em;  
}

.product-item  img:hover{ 
  background-color: #E1EFF2;
  opacity: 0.7; 
}

h3{
  margin-bottom: 2em;
}

.product-item{
  padding-left: 18em;
    display: flex;
  flex-direction: row;
  justify-content:center;

}
.product-item img{
  width: 50%;
  height: 88%;
}
h2{
  text-align: center;
  font-weight: normal;
  margin-bottom: 5em;
  color: #817870;
}
#HomepageH2{
  margin-bottom: 2em;
}
#p-category{
  text-align: center;
  margin-bottom: 6em;
  font-size: 0.8em;
}

.items p{
  font-size: 0.8em;
  margin-top: 1.5em;
}

.event-main{
  display:flex;
  justify-content: center;
  align-items: center;
  padding-top:2em;

}

.event-main>div{
  flex-basis:40%;
}

.event-left{
  margin: 2em;
  max-width: 400px;
  line-height: 180%;
  color: #817870;
}

.event-right img{
  width:80%;

}
.event-right{
  margin-left:15em;
}

.event-main p{
  margin-top: 4em;
  font-size: 0.8em;
  color: black;

}

@media  only screen and (max-width: 800px) {
  .event-main{
    flex-direction: column;
  }
  .contactinfo{
    width: 80%;
    margin: auto;
  }
}
footer{
  text-align: center;
  margin-bottom: 3em;
}
footer div{
  margin-bottom: 1em;
}
.contactinfo p{
  font-size: 0.8em;
}
.P-footer p{
  font-size: 1em;
  font-weight: bold;
}
.contactlink a{
  color: black;
  text-decoration: none;
}
#elements2{
  padding-right: 2em;
}

.contact-button{
    margin-top: 3em;
    width: 100%;
    text-align: center;
  }

#buttonA{
  color: #FFF;
}
  .contact-button a{

    background-color:#333;
    padding:0.8em 6.2em;
    text-decoration:none;
    color: #FFF;

  }

  .contact-button a:hover{
    background-color: #333333AA;
    transition: all 1s;
  }


/* 
  COMBINED ELEMENTS -------------------
*/

#cartH2{
  font-size: 1.5rem;
  text-align: left;
  margin-bottom: 2em;
  color: black;}

  .cart-title {
    margin-top: 4%;
    margin-bottom:1rem;
  }

  .cart-title h2 {
    font-family: 'Barlow Semi Condensed', sans-serif;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 0em;
    text-align: left;
  }
  .total p {
    font-weight: bold;
    font-size: 20px;
    text-align: right;
    margin-right: 5%;
    margin-bottom: 4%;
  }
  .cartItem {
    display: flex;
    justify-content: center;
    margin-top: 4%;
    border-top: 1px solid black;
    padding: 3% 10%;
  }

  .cartItem>div {
    width: 40%;
  }

  .item-left img {
    width: 40%;
  }

  .item-right {
    display: block;
  }

  .item-right a {
    text-decoration: none;
    color: black;
  }

  .item-right a:hover {
    text-decoration: underline;
  }

  .cartItemName {
    font-size:0.9em ;
  }

  .cartItemPrice {
    font-size: 0.8em;
    margin-top: 1em;
  }

  .checkout-h2{
    margin-bottom: 2em;
  }

  .checkout-main {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -16px;
  }

  .checkout-main>div{
    flex-basis:40%;
  }

  .checkout-div {
    -ms-flex: 50%;
    flex: 50%;
  }

  .checkout-div h3{
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .checkout-div2 {
    -ms-flex: 75%;
    flex: 75%;
  }

  .checkout-div,
  .checkout-div2 {
    padding: 0 16px;
  }

  .container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
  }

  input[type=text] {
    width: 50%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  label {
    margin-bottom: 10px;
    display: block;
  }

  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
#applyIncart{
  margin-top: 1em;
  margin-bottom: 2em;
  text-align: center;
}

#applyIncart a{
  background-color:#333;
  padding:0.8em 6.2em;
  text-decoration:none;
  color: #FFF;
}

#applyIncart a:hover{
  background-color: #333333AA;
  transition: all 1s;
}
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
  @media (max-width: 800px) {

    #cartH2{
      margin-top: 1.5em;
      margin-left: 1em;
    }
    .cartItem {
      flex-direction: column;
      margin: auto;
    }

    .sectionbox {
      flex-direction: column;
      margin: auto;
      margin-bottom: 2em;
    }

    .item-left img {
      width: 80%;
      margin: auto;
    }
    .cartItemName{
      margin-top: 1em;
    }

    .cartItem>div {
      width: 100%;
    }
    .checkout-main {
      flex-direction: column-reverse;
      width: 90%;
      margin: auto;
    }
    input[type=text] {
      width: 80%;
    }
  }

  @media  only screen and (max-width: 800px) {
    .product-item{
      display: flex;
      flex-direction:column;
    }
    #citationDiv{
      margin: auto;
      margin-left: 1em;
    }
  }

  .item-image img {
    width: 60%;
  }

  .item-text {
    display: block;
  }

  .item-text a {
    text-decoration: none;
    color: black;
    transition: 0.3s;
  }

  .item-text a:hover {
    color: rgba(0,0,0,0.7);
    text-decoration: underline;
    transition: 0.3s;
  }

  .item-text h3 {
    font-weight: 500;
    font-size: 14px;
  }

  .item-text h4 {
    font-size: 14px;
  }
.itemsName{
  font-size: 0.9em;
  text-decoration: none;
  color: black;
}
.itemsName:hover{
  text-decoration: underline;
}
.price{
  font-size: 0.8em;
  margin-top: 0.6em;
}
.itemsImage{
  margin-bottom: 1.2em;
}


.itemsInfor-main{
  display: flex;
  justify-content:center;
}

.itemsInfor-left{
  flex-basis: 40%;
  text-align:center;
}

.itemsInfor-right{
  flex-basis: 40%;
}


.itemsInfor-left img{
  width: 80%;
}

.itemsInforName{
  font-size: 0.9rem;
  color: black;
  font-weight: bold;
  text-align: left;
}

.itemDescribe p{
  margin-bottom: 1em;
}

@media  only screen and (max-width: 800px) {
  .itemsInfor-main{
    flex-direction: column;
    margin:2em;
  }
  .itemsInfor-right{
    margin-top: 2em;
  }
}

.colorID_E7DED7{
  background-color: #E7DED7;
}

.colorID_F2F2F2{
  background-color: #F2F2F2;
}

.itemsInforColor{
  margin-top: 2em;
  font-size: 1em;
  color: black;
  font-weight: normal;
}

.colorButton button{
  margin-top: 1em;
  width:30px;
  height:30px;
  cursor: pointer;
  border:1px solid white;
  box-shadow: 0 1px 2px #ddd;
  outline:none;
}

.itemDescribe{
  font-size: 0.8em;
  margin-top: 2em;
  color: #666;
}

.addToCart{
  margin-top: 4em;
}

.addToCart a{
  background-color:#333;
  padding:0.8em 8vw;
  text-decoration:none;
  color: #FFF;
}

.addToCart a:hover{
  background-color: #333333AA;
  transition: all 1s;
}
