
*{
	box-sizing: content-box;
	font-family: 'Raleway', sans-serif;
	padding: 0em;
	margin: 0em;
}

body{
	background-color: #F5F5F5;
}

nav{
	display:flex;
	justify-content: space-between;
	padding: 1em 2em;
	margin-top:1em;
}

nav a {
	font-size: 0.8em;
	color: black;
	text-decoration: none;
	font-weight: bold;
	margin: 0.8em;
	padding-right:0.4em;
	border-right: solid #817870 0.1em;
}
nav a:hover{
	text-decoration:underline;
	color: #E3DCD2;
}

.menu-icon{
	display:none;
	font-size:20pt;
}

.menu-icon i{
	color:black;
}

.responsiveH1{
	display: none;
}

.logo{
	color: #817870;
	font-size: 1.6em;
	color: black;
	border: none;
}

.logo a{
	color: #817870;
}
.logo:hover{
	color: black;
	text-decoration: none;
}

#cart,#about{
	border: none;
}
#cart{
	font-size: 1em;
}


@media  only screen and (max-width: 600px) {
	nav{
		position: relative;
	}

	#responsiveNav2{
		display:none;
	}
	#responsiveNav3{
		display:none;
	}
	#responsiveNav4{
		display:none;
	}
	#responsiveNav5{
		display:none;
	}
	#responsiveNav6{
		display:none;
	}
	#responsiveNav7{
		display:none;
	}
	#responsiveNav8{
		display:none;
	}
	#responsiveNav9{
		display:none;
	}
		#responsiveNav10{
		display:none;
	}
	#responsiveNav{
		display:none;
	}
	nav a{
		position: block;
		display: flex;
		flex-direction: column;
		border-right:none;
		text-align: center;
		padding-right:0em;
		margin: 0.8em;
	}
	.responsiveH1{
		display: block;
		margin: 1em;
	}
	.nav-right a{
		display: none;
	}
	.menu-icon{
		display:block;
		background-color: #817870;
		padding: 1px;
		text-align: right;
	}
	.menu-icon a{
		text-align: right;
		margin-right: 1em;
	}
}

header{
	background-image: url("image/bgimg.jpg");
	background-size:cover;
	background-position: center center;
	height:60vw;
	margin-top:2em;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-bottom: 8em;
}
header p{
	color: #F5F5F5;
	margin: 1.6em;
	font-size: 0.9rem;
}
header h1{
	color: #F5F5F5;
	font-weight: normal;

}

.header-btn a{
	background-color:white;
	padding:0.8em 6.2em;
	text-decoration:none;
	color: black;

}
.header-btn a:hover{
	color: black;
	background-color:#E3DCD2EE;
	transition: all 1s;
}
.header-btn{
	margin-top: 1em;
	text-align: center;
}
.sectionbox{
	margin: 5em 3em 4em 3em;
	padding-bottom: 2em;
	border-bottom: #E3DCD2EE solid 0.1em;
}

img:hover{
	background-color: #E1EFF2;
	opacity: 0.7;
}

.product-item{
	margin-top: 2em;
	display: flex;
	justify-content:center;
}
.product-item>div{
	flex-basis: 30%;
	margin:0 2rem;
}
.product-item img{
	width:100%;
}

h2{
	text-align: center;
	font-weight: normal;
	color: #817870;
	font-size: 1.8em;
	margin-top: 1em;
}

h1{
	text-align: center;
	font-weight: normal;
	color: #817870;
	font-size: 2.5em;
}
#HomepageH2{
	text-align: center;
	font-weight: normal;
	color:#F5F5F5;
	font-size: 2em;
}
#HomepageH3{
	font-size: 2em;
	text-align: center;
	font-weight: normal;
	margin-bottom: 5em;
	color: #817870;
	margin-bottom: 2em;
}
#p-category{
	text-align: center;
	margin-bottom: 6em;
	font-size: 0.8em;
}

.HomepageP{
	font-size: 0.8em;
	margin-top: 1.5em;
}

.items p{
	font-size: 0.8em;
	margin-top: 1em;
	margin-bottom:2em;

}

.event-main{
	display:flex;
	justify-content: center;
	align-items: center;
	padding-top:2em;

}

.event-main>div{
	flex-basis:40%;
}

.event-left{
	margin: 2em;
	max-width: 400px;
	line-height: 180%;
	color: #817870;
}

.event-right img{
	width:100%;
	
}


.event-main p{
	margin-top: 4em;
	font-size: 0.8em;

}

@media  only screen and (max-width: 600px) {
	.event-main{
		flex-direction: column;
	}
	.contactinfo{
		width: 80%;
		margin: auto;
	}
}

footer{
	text-align: center;
	margin-bottom: 3em;
}
footer div{
	margin-bottom: 1em;
}
.contactinfo p{
	font-size: 0.8em;
}
.P-footer p{
	font-size: 1em;
	font-weight: bold;
}
.contactlink a{
	color: black;
	text-decoration: none;
}
.itemsName{
	font-size: 0.9em;
	text-decoration: none;
	color: black;
}
.itemsName:hover{
	text-decoration: underline;
}
.price{
	font-size: 0.8em;
	margin-top: 0.6em;
}
.itemsImage{
	margin-bottom: 1.2em;
}


.itemsInfor-main{
	display: flex;
	justify-content:center;
}

.itemsInfor-left{
	flex-basis: 40%;
	text-align:center;	
}

.itemsInfor-right{
	flex-basis: 40%;
}


.itemsInfor-left img{
	width: 80%;
}

.itemsInforName{
	font-size: 0.9rem;
	color: black;
	font-weight: bold;
	text-align: left;
}

.itemDescribe p{
	margin-bottom: 1em;
}

@media  only screen and (max-width: 600px) {
	.itemsInfor-main{
		flex-direction: column;
		margin:2em;
	}
	.itemsInfor-right{
		margin-top: 2em;
	}
}

.colorID_E7DED7{
	background-color: #E7DED7;
}

.colorID_F2F2F2{
	background-color: #F2F2F2;
}

.itemsInforColor{
	margin-top: 2em;
	font-size: 1em;
	color: black;
	font-weight: normal;
}

.colorButton button{
	margin-top: 1em;
	width:30px;
	height:30px;
	cursor: pointer;
	border:1px solid white;
	box-shadow: 0 1px 2px #ddd;
	outline:none;
}

.itemDescribe{
	font-size: 0.8em;
	margin-top: 2em;
	color: #666;
}

.addToCart{
	margin-top: 4em;
}

.addToCart a{
	background-color:#333;
	padding:0.8em 8vw;
	text-decoration:none;
	color: #FFF;
}

.addToCart a:hover{
	background-color: #333333AA;
	transition: all 1s;
}
/*--------------Begin - Check out page--------------*/
/*.checkout-billing{*/

	#applyIncart{
		margin-top: 1em;
		margin-bottom: 2em;
		text-align: center;
	}

	#applyIncart a{
		background-color:#333;
		padding:0.8em 6.2em;
		text-decoration:none;
		color: #FFF;
	}

	#applyIncart a:hover{
		background-color: #333333AA;
		transition: all 1s;
	}

	#cartH2{
		font-size: 1.5rem;
		text-align: left;
		margin-bottom: 2em;
		color: black;}

		/*--------------Begin - Check out page--------------*/





		.cart-title {
			margin-top: 4%;
			margin-bottom:1rem;
		}

		.cart-title h2 {
			font-family: 'Barlow Semi Condensed', sans-serif;
			letter-spacing: 2px;
			font-weight: 500;
			font-size: 18px;
			text-align: center;
			margin-top: 2em;
			margin-bottom: 0em;
			text-align: left;
		}

		.cartItem {
			display: flex;
			justify-content: center;
			margin-top: 4%;
			border-top: 1px solid black;
			padding: 3% 10%;
		}

		.cartItem>div {
			width: 40%;
		}

		.item-left img {
			width: 40%;
		}

		.item-right {
			display: block;
		}

		.item-right a {
			text-decoration: none;
			color: black;
		}

		.item-right a:hover {
			text-decoration: underline;
		}

		.cartItemName {
			font-size:0.9em ;
		}

		.cartItemPrice {
			font-size: 0.8em;
			margin-top: 1em;
		}

		.checkout-h2{
			margin-bottom: 2em;
		}

		.checkout-main {
			display: -ms-flexbox; 
			display: flex;
			-ms-flex-wrap: wrap; 
			flex-wrap: wrap;
			margin: 0 -16px;
		}

		.checkout-main>div{
			flex-basis:40%;
		}

		.checkout-div {
			-ms-flex: 50%; 
			flex: 50%;
		}

		.checkout-div h3{
			margin-top: 2em;
			margin-bottom: 2em;
		}

		.checkout-div2 {
			-ms-flex: 75%; 
			flex: 75%;
		}

		.checkout-div,
		.checkout-div2 {
			padding: 0 16px;
		}

		.container {
			background-color: #f2f2f2;
			padding: 5px 20px 15px 20px;
			border: 1px solid lightgrey;
			border-radius: 3px;
		}

		input[type=text] {
			width: 50%;
			margin-bottom: 20px;
			padding: 12px;
			border: 1px solid #ccc;
			border-radius: 3px;
		}

		label {
			margin-bottom: 10px;
			display: block;
		}

		.icon-container {
			margin-bottom: 20px;
			padding: 7px 0;
			font-size: 24px;
		}

		/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
		@media (max-width: 800px) {

			#cartH2{
				margin-top: 1.5em;
				margin-left: 1em;
			}
			.cartItem {
				flex-direction: column;
				margin: auto;
			}

			.sectionbox {
				flex-direction: column;
				margin: auto;
				margin-bottom: 2em;
			}

			.item-left img {
				width: 80%;
				margin: auto;
			}
			.cartItemName{
				margin-top: 1em;
			}

			.cartItem>div {
				width: 100%;
			}
			.checkout-main {
				flex-direction: column-reverse;
				width: 90%;
				margin: auto;
			}
			input[type=text] {
				width: 80%;
			}
		}


		#feedbackTo{
			padding-bottom: 6em;
			padding-right: 20em;
		}

		.feedback{
			margin-top: 2em;
			text-align: left;
		}

		.feedback input[type=text] {
			width:100%;
		}

		.feedback label{
			color: #817870；
			font-size:2em;
		}

		.contact-button{
			margin-top: 3em;
			width: 100%;
			text-align: center;
		}
		.contact-button a{

			background-color:#333;
			padding:0.8em 6.2em;
			text-decoration:none;
			color: #FFF;

		}

		.contact-button a:hover{
			background-color: #333333AA;
			transition: all 1s;
		}
		#citationDiv{
			margin: 6em 10em 10em 5em;
		}

		#citationDiv p{
			margin-top: 2em;
			width: 80%;
			font-size: 0.8em;
		}

		#citationDiv h3{
       margin-top: 2em;
		}

		.citaionLink a{
			font-size: 0.8em;
			color: black;
			text-decoration: none;
		}

		@media  only screen and (max-width: 900px) {
			.product-item{
				display: flex;
				flex-direction:column;
			}
			#citationDiv{
				margin: auto;
				margin-left: 1em;
			}
		}

		.item-image img {
			width: 60%;
		}

		.item-text {
			display: block;
		}

		.item-text a {
			text-decoration: none;
			color: black;
			transition: 0.3s;
		}

		.item-text a:hover {
			color: rgba(0,0,0,0.7);
			text-decoration: underline;
			transition: 0.3s;
		}

		.item-text h3 {
			font-weight: 500;
			font-size: 14px;
		}

		.item-text h4 {
			font-size: 14px;
		}

		.total p {
			font-weight: bold;
			font-size: 20px;
			text-align: right;
			margin-right: 5%;
			margin-bottom: 4%;
		}

		#Msg{
			padding-bottom: 6em;
		}


