
*{
	box-sizing: content-box;
	font-family: 'Raleway', sans-serif;
	padding: 0em;
	margin: 0em;
}

body{
	background-color: #F5F5F5;
}

nav{
	display:flex;
	justify-content: space-between;
	padding: 1em 2em;
	margin-top:1em;
}
#logo{
	color: #817870;
	font-size: 1.6em;
	color: black;
	border: none;
}
#logo a{
	color: #817870;
}
nav a {
	font-size: 0.8em;
	color: black;
	text-decoration: none;
	font-weight: bold;
	margin: 0.8em;
	padding-right:0.4em;
	border-right: solid #817870 0.1em;
}

nav a:hover{
	text-decoration:underline;
	color: #E3DCD2;
}

#logo:hover{
	color: black;
	text-decoration: none;
}
#cart,#about{
	border: none;
}
#cart{
	font-size: 1em;
}
header{
	background-image: url("image/bgimg.jpg");
	background-size:cover;
	background-position: center center;
	height:60vw;
	margin-top:2em;


	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-bottom: 8em;
}
header p{
	color: #F5F5F5;
	margin: 1.6em;

}
header h1{
	color: #F5F5F5;
	font-weight: normal;

}

	.header-btn a{
		background-color:white;
		padding:0.8em 6.2em;
		text-decoration:none;
		color: black;

	}
	.header-btn a:hover{
		color: black;
		background-color:#E3DCD2EE;
		transition: all 1s;
	}
	.header-btn{
		margin-top: 1em;
		text-align: center;
	}
.sectionbox{
	margin: 5em 3em 4em 3em;
	padding-bottom: 2em;
	border-bottom: #E3DCD2EE solid 0.1em;
}

img:hover{
	background-color: #E1EFF2;
	opacity: 0.7;
}

.product-item{

		display: flex;
  /*flex-direction: row;*/
  justify-content:center;


}
.product-item>div{
	flex-basis: 30%;
	margin:0 2rem;
}
.product-item img{
	width:100%;
}

h1{
	text-align: center;
	font-weight: normal;
	color: #817870;
	font-size: 2.5em;
}

#HomepageH2{
	font-size: 2em;
	text-align: center;
	font-weight: normal;
	margin-bottom: 5em;
	color: #817870;
	margin-bottom: 2em;
}
#p-category{
	text-align: center;
	margin-bottom: 6em;
	font-size: 0.8em;
}

.HomepageP{
	font-size: 0.8em;
	margin-top: 1.5em;
}

.items p{
	font-size: 0.8em;
	margin-top: 2em;
}

.event-main{
	display:flex;
	justify-content: left;
	padding-left: 2em;
	align-items: center;
	margin: auto;
}

.event-left{

margin: 2em;

max-width: 400px;
line-height: 180%;
color: #817870;
}

.event-right img{
	margin: 6em;
	width:80%;
}


.event-main p{
	margin-top: 4em;
	font-size: 0.8em;

}

footer{
	text-align: center;
	margin-bottom: 3em;
}
footer div{
	margin-bottom: 1em;
}
.contactinfo p{
	font-size: 0.8em;
}
.P-footer p{
  font-size: 1em;
  font-weight: bold;
}
.contactlink a{
	color: black;
	text-decoration: none;
}
.itemsName{
	font-size: 0.9em;
text-decoration: none;
color: black;
}
.itemsName:hover{
	text-decoration: underline;
}
.price{
	font-size: 0.8em;
	margin-top: 0.6em;
}
.itemsImage{
	margin-bottom: 1.2em;
}


.itemsInfor-main{
	display: flex;
	justify-content:space-between;
	margin:auto;
}

.itemsInfor-left{
	flex-basis: 30%;
	margin:0 2rem;
	margin-left: 15em;
}
.itemsInfor-left img{
	width: 100%;
}

.itemsInforName{
	font-size: 0.9rem;
	color: black;
	font-weight: bold;
	text-align: left;
}
.itemsInfor-right{
margin-right: 15em;
	text-align: left;
}

.colorID_E7DED7{
	background-color: #E7DED7;
}
.colorBlack{
	background-color: black;
}
.itemsInforH2{
	margin-top: 2em;
	font-size: 1em;
	color: black;
	font-weight: normal;
}
.colorButton button{
  margin-top: 1em;
  width:30px;
  height:30px;
  cursor: pointer;
  border:1px solid white;
  box-shadow: 0 1px 2px #ddd;
  outline:none;
}
.itemDescribe{
	font-size: 0.8em;
	margin-top: 2em;
	color: #666;
}


.addToCart{
	margin-top: 4em;
}
.addToCart a{

	background-color:#333;
	padding:0.8em 6.2em;
	text-decoration:none;
	color: #FFF;

}

.addToCart a:hover{
background-color: #333333AA;
transition: all 1s;
}

#applyIncart{
	margin-top: 1em;
	margin-bottom: 2em;
	text-align: center;
}
#applyIncart a{
background-color:#333;
	padding:0.8em 6.2em;
	text-decoration:none;
	color: #FFF;

}

#applyIncart a:hover{
background-color: #333333AA;
transition: all 1s;
}

#cartH1{
	font-size: 1.5rem;
	text-align: left;
	margin-bottom: 2em;
	color: black;
}


/*--------------Begin - Check out page--------------*/
.checkout-billing{
	font-size: 14px;
	width: 40%;
}
	.checkout-billing input{
		margin-left: 2em;
		padding-left: 10em;
		padding-bottom: 1em;
	}
.checkout-h2 {
	font-family: 'Raleway', sans-serif;
	letter-spacing: 2px;
	font-weight: 500;
	font-size: 18px;
	text-align: center;
	margin-top: 2em;
	margin-bottom: -1em;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 4% 15% 0 15%;
    padding-bottom: 5em;
    padding-top: 0.8em;

}

#feedbackTo{
	padding-bottom: 6em;
	padding-right: 20em;
}
.feedback{
	margin-left: 5em;
}
.feedback label{
	color: #817870；
	font-size:2em;
}

#citationDiv{
	margin: 6em 10em 10em 5em;
}
#citationDiv p{
	margin-top: 2em;
}

.citaionLink a{
	font-size: 0.8em;
	color: black;
	text-decoration: none;
}

@media  only screen and (max-width: 900px) {
	.product-item{
		display: flex;
		flex-direction:column;
	}

}


.checkout-h3{
	letter-spacing: 2px;
	font-weight: 500;
	font-size: 16px;
	text-align: center;
	margin-bottom: 2em;
}
.checkout-detail {

	font-size: 14px;
	width: 40%;
}

.checkout-detail input{
	margin-left: 2em;
	padding-left: 10em;
	padding-bottom: 1em;
}

	.checkout-billing input {
		background-color: #eee;
		margin-top: 0.35em;

	}
	.checkout-detail input {
		background-color: #eee;
		margin-top: 0.35em;

	}

	.checkout-detail input:hover {

	    border-width: 2px;
	    background-color: #FFFFFFaa;
	    border-color: #FFFFFFDD;
	}

	.checkout-billing input:hover {

	    border-width: 2px;
	    background-color: #FFFFFFaa;
	    border-color: #FFFFFFDD;
	}


.cart-main {
	margin: 4% 20% 0 20%;
	position: relative;
}

.cart-title {
	margin-top: 4%;
	margin-bottom:1rem;
}

.cart-title h2 {
	letter-spacing: 2px;
	font-weight: 500;
	font-size: 18px;
	text-align: center;
	margin-top: 2em;
	margin-bottom: 0em;
	text-align: left;
}

.cart-item {
	display: flex;
	justify-content: space-around;
	margin-top: 4%;
	border-top:#E3DCD2EE solid 0.1em;

	padding: 5% 8%;
}

.cart-item>div {
	width: 40%;
}

.item-image img {
	width: 60%;
}

.item-text {
	display: block;
}

.item-text a {
	text-decoration: none;
	color: black;
	transition: 0.3s;
}

.item-text a:hover {
	color: rgba(0,0,0,0.7);
	text-decoration: underline;
	transition: 0.3s;
}

.item-text h3 {
	font-weight: 500;
	font-size: 14px;
}

.item-text h4 {
	font-size: 14px;
}

 
.total p {
	font-weight: bold;
	font-size: 20px;
	text-align: right;
	margin-right: 5%;
	margin-bottom: 4%;
}
input[type=text] {
	align-items: center;
	width: 50%;
	margin-bottom: 18px;
	border: 1px solid #aaa;
	padding: 10px;
}

#Msg{

	padding-bottom: 6em;
}


